package ${basePackage}.api.${moduleName}.mysql;

import lombok.Data;

import javax.persistence.*;
#foreach ($column in $columns)
#if($column.attrType == 'Date')
import java.time.LocalDateTime;
#break
#end
#end

/**
 * ${tableComment}
 * 表 ${tableName}
 *
 * @author : ${author}
 * @create : ${datetime}
 */
@Data
@Entity
@Table(name="${tableName}")
public class ${className}{

    /**
     * $primaryKey.columnComment
     */
    @Id
    @GeneratedValue(strategy=GenerationType.IDENTITY)
    @Column(name = "$primaryKey.columnName")
    private $primaryKey.attrType $primaryKey.attrname;

#foreach ($column in $columns)
#if($column.columnName != $primaryKey.columnName)
    /**
     * $column.columnComment
     */
    @Column(name = "$column.columnName")
    private $column.attrType $column.attrname;

#end
#end
}
