@media ( max-width : 768px) {
    .conf-box {
        display: none;
    }
}
.conf-box{
    position: relative;
    width: 100%;
    background: #fff;
    border-radius: 6px;
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 13px;
    box-shadow: 1px 1px 3px rgba(0,0,0,.2);
}